:root{
    --azul-escuro: #134783;
    --azul-claro: #0096C7;
    --azul-hover: #5fcbf0;
    --texto-branco: #F8F8FF;
    --amarelo-main: #FFC300;
    --amarelo-hover: #f0ce5e;
    --texto-preto: #333333;
    --texto-titulo: #272727;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

a{
    color: var(--texto-branco);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

/*Menu do site*/

.logo img{
    max-width: 120px;
    margin-top: 1vh;
    
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: var(--azul-claro);
}

.nav-list{
    list-style: none;
    display: flex;

}

.nav-list li{
    letter-spacing: 2px;
    margin-left: 32px;
}

/*Botão hambúrguer*/

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: black;
    margin: 8px;
    transition: 0.3s;
}

/*Barra de pesquisa de passagens*/

.container-fly{
    background-color: var(--azul-escuro);
    height: 25vh;
    
}

.conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo{
    color: var(--texto-branco);
    width: 60vw;
    text-align: left;
    margin-top: 5px;
}

.fly-card{
    background-color: var(--azul-claro);
    width: 60vw;
    height: 18vh;
    border-radius: 15px;
    box-shadow: 4px 1px 10px 0px rgba(0,0,0,0.3);
}

.fly-btn{
    min-width: 80px;
    height: 25px;
    padding: 3px;
    margin: 3px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--amarelo-main);
    color: var(--texto-preto);
    font-weight: bold;
    transition: transform 0.3s ease-in;
    margin: 15px 0 10px 10px;
}

.fly-btn:hover{
    background-color: var(--amarelo-hover);
    cursor: pointer;
}

.local1{
    width: 25%;
    border-radius: 10px;
    border-style: none;
    height: 35px;
    padding-left: 10px;
    margin-left: 5px;
    margin-right: 0;
}

.local2{
    width: 25%;
    border-radius: 10px;
    border-style: none;
    height: 35px;
    padding-left: 10px;
    margin-left: 0;
}

.data{
    width: 15%;
    border-radius: 10px;
    border-style: none;
    height: 35px;
    padding-left: 10px;
}

/*Cards de Ofertas*/



.container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.container-card a{
    color: var(--texto-preto);
}

.card-oferta{
    width: 230px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 4px 1px 10px 0px rgba(0,0,0,0.3);
    overflow: hidden;
}

.card-oferta img{
    height: 250px;
    width: auto;
}

.populares{
    text-align: center;
    margin: 10px 0 10px 0;
    color: var(--texto-preto);
}

.destino{
    margin-left: 10px;
}

.informacoes{
    font-size: 14px;
    padding: 10px;
}

.price-tag{
    padding: 10px;
}

.price-tag p{
    font-size: 10px;
}

.rs{
    font-size: 10px;
    margin-right: 4px;
}

.valor{
    font-weight: bold;
    font-size: 20px;
}

/*Formulário de contato*/

.container-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    background-color: var(--amarelo-main);
    color: var(--texto-preto);
    border-radius: 8px;
    box-shadow: 4px 1px 10px 0px rgba(0,0,0,0.3);
}

.form-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color: var(--texto-preto);
}

.text-form{
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.formulario label, 
.formulario input {
    width: 100%;
}

.text-news{
    margin-bottom: 10px;
}

.dados-form{
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border-style: none;
    height: 35px;
    max-width: 60%;

}

.btn-submit{
    max-width: 7vw;
    height: 30px;
    padding: 3px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--azul-claro);
    color: var(--texto-branco);
    font-weight: bold;
    transition: transform 0.9s ease-in;
    margin: 15px 0 10px 10px;
}

.btn-submit:hover{
    background-color: var(--azul-hover);
    cursor: pointer;
}

/*Seção FAQ acordeão*/

.faq{
    margin-top: 20px;
    text-align: center;
    color: var(--texto-preto);
}

#container-accordion{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.accordion{
    background-color: var(--azul-claro);
    color: var(--texto-preto);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 4px 1px 10px 0px rgba(0,0,0,0.3);
}

.accordion-header{
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    font-size: 22px;
    color: var(--texto-titulo);
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-header span{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordion-body{
    color: var(--texto-preto);
    font-size: 20px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s;
}

.accordion-body.active{
    height: 100%;
    padding: 5px 0px;
    opacity: 1;
    transition: 0.5s;
}

.arrow{
    transition: 0.2s linear;
}

.accordion:has(.active) .arrow{
    transform: rotate(180deg);
}


/*Responsividade*/

@media (max-width: 850px) {

    body{
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color:  var(--azul-claro);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    
    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);

    } 
    to {
        opacity: 1;
        transform: translateX(0);

    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);    
}